name: Check pull request

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-$${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  golang:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Golang
        uses: actions/setup-go@v5
        # with:
        #   go-version: ""

      - name: Run Golang check
        run: go vet main.go

  golang-wasm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      GOOS: js
      GOARCH: wasm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Golang
        uses: actions/setup-go@v5
        # with:
        #   go-version: ""

      - name: Setup binaryen
        run: |
          sudo apt update
          sudo apt install -y binaryen

      - name: Run Golang check
        run: go vet ./wasm/wasm.go

      - name: Build Golang WASM
        run: go build -trimpath -ldflags "-X tailscale.com/version.shortStamp=1.82.5 -X tailscale.com/version.longStamp=1.82.5-HeadscaleConsole-test-${{ github.sha }} -s -w" -o ./src/lib/api/tsconnect/pkg/client.wasm ./wasm/wasm.go

      - name: Optimize Golang WASM
        run: wasm-opt --enable-bulk-memory -Oz ./src/lib/api/tsconnect/pkg/client.wasm -o ./src/lib/api/tsconnect/pkg/client.wasm

      - name: Copy WASM exec.js
        run: cp "$(go env GOROOT)/lib/wasm/wasm_exec.js" ./src/lib/api/tsconnect/pkg/wasm_exec.js

      - name: Upload golang package
        uses: actions/upload-artifact@v4
        with:
          name: golang-wasm-pkg
          path: src/lib/api/tsconnect/pkg/

  rust-wasm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          . "$HOME/.cargo/env"

      - name: Setup wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build Rust WASM
        working-directory: wasm
        run: wasm-pack build --out-name ironrdp --target web

      - name: Upload rust wasm package
        uses: actions/upload-artifact@v4
        with:
          name: rust-wasm-pkg
          path: wasm/pkg/

  typescript:
    needs:
      - golang-wasm
      - rust-wasm
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download golang wasm package
        uses: actions/download-artifact@v4
        with:
          name: golang-wasm-pkg
          path: src/lib/api/tsconnect/pkg/

      - name: Download rust wasm package
        uses: actions/download-artifact@v4
        with:
          name: rust-wasm-pkg
          path: wasm/pkg/

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install dependencies
        run: deno install

      # Basic syntax & types check
      - name: Run checks
        run: deno task check

      # TODO: proper tests
      # - name: Run unit tests
      #   run: deno task test:unit

      # - name: Run e2e tests
      #   run: deno task test:e2e
